
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table>
    <tr>
       <td>Login Here</td>
    </tr>
    <tr>
        <td>
            Enter User Name: 
        </td>
        <td>
            <input type="text" name="txtUname" />
        </td>
    </tr>
    <tr>
        <td>
            Enter Password:
        </td>
        <td>
            <input type="password" name="txtpass" />
        </td>
    </tr>
    <tr>
        <td>
            <input type="submit" value="Sumbit" name="submit" />
        </td>
    </tr>
</table>

