
@{
    ViewBag.Title = "Index";
}
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    function submit() {
        $(document).ready(function () {
            $("#btnSubmit").click(function () {
                if ($("#txtuname").val() == "") {
                    alert('Enter User Name');
                    return false
                }
                else {
                    return true;
                }
                if ($("#txtpass").val() == "") {
                    alert('Enter Password');
                    return false
                }
                else {
                    return true;
                }
            });
        });
    }
</script>
<h2>Index</h2>

<table>
    <tr>
       <td>Login Here</td>
    </tr>
    <tr>
        <td>
            Enter User Name: 
        </td>
        <td>
            <input id="=txtuname" type="text" name="txtUname" />
        </td>
    </tr>
    <tr>
        <td>
            Enter Password:
        </td>
        <td>
            <input id="txtpass" type="password" name="txtpass" />
        </td>
    </tr>
    <tr>
        <td>
            <input type="submit" value="Sumbit" name="submit" id="btnSubmit" />
        </td>
    </tr>
</table>


